## 4. Working with Geometries

## 4.1. Connecting to the database

In [23]:
%load_ext sql
import os

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [24]:
# connection_string = f"postgresql://{user}:{password}@{host}/{database}"
connection_string = f"postgresql://postgres:celdoni@localhost/nyc"

In [25]:
%sql $connection_string

'Connected: postgres@nyc'

In [26]:
%%sql 

SELECT * FROM nyc_neighborhoods WHERE FALSE

 * postgresql://postgres:***@localhost/nyc
0 rows affected.

[]

## 4.2. Creating geometries

In [34]:
%%sql
-- in postgis you can have more than one geometry, in shapefile 1
CREATE TABLE geometries (name varchar, geom geometry);

INSERT INTO geometries VALUES
  ('Point', 'POINT(0 0)'),
  ('Linestring', 'LINESTRING(0 0, 1 1, 2 1, 2 2)'),
  ('Polygon', 'POLYGON((0 0, 1 0, 1 1, 0 1, 0 0))'),
  ('PolygonWithHole', 'POLYGON((0 0, 10 0, 10 10, 0 10, 0 0),(1 1, 1 2, 2 2, 2 1, 1 1))'), -- pol with internal hole
  ('Collection', 'GEOMETRYCOLLECTION(POINT(2 0),POLYGON((0 0, 1 0, 1 1, 0 1, 0 0)))');

SELECT name, ST_AsText(geom) FROM geometries;

 * postgresql://postgres:***@localhost/nyc
(psycopg2.errors.DuplicateTable) relation "geometries" already exists

[SQL: -- in postgis you can have more than one geometry, in shapefile 1
CREATE TABLE geometries (name varchar, geom geometry);]
(Background on this error at: https://sqlalche.me/e/14/f405)

## 4.3. Metadata tables

In [35]:
%%sql 

SELECT * FROM spatial_ref_sys LIMIT 2 -- table in all postgis db

 * postgresql://postgres:***@localhost/nyc
2 rows affected.

[(3819, 'EPSG', 3819, 'GEOGCS["HD1909",DATUM["Hungarian_Datum_1909",SPHEROID["Bessel 1841",6377397.155,299.1528128,AUTHORITY["EPSG","7004"]],TOWGS84[595.48,121.69,515.35,4. ... (34 characters truncated) ... Y["EPSG","1024"]],PRIMEM["Greenwich",0,AUTHORITY["EPSG","8901"]],UNIT["degree",0.0174532925199433,AUTHORITY["EPSG","9122"]],AUTHORITY["EPSG","3819"]]', '+proj=longlat +ellps=bessel +towgs84=595.48,121.69,515.35,4.115,-2.9383,0.853,-3.408 +no_defs '),
 (3821, 'EPSG', 3821, 'GEOGCS["TWD67",DATUM["Taiwan_Datum_1967",SPHEROID["GRS 1967 Modified",6378160,298.25,AUTHORITY["EPSG","7050"]],AUTHORITY["EPSG","1025"]],PRIMEM["Greenwich",0,AUTHORITY["EPSG","8901"]],UNIT["degree",0.0174532925199433,AUTHORITY["EPSG","9122"]],AUTHORITY["EPSG","3821"]]', '+proj=longlat +ellps=aust_SA +no_defs ')]

In [36]:
%%sql

SELECT * FROM geometry_columns

 * postgresql://postgres:***@localhost/nyc
9 rows affected.

[('nyc', 'public', 'nyc_bloque_censal', 'geom', 2, 26918, 'MULTIPOLYGON'),
 ('nyc', 'public', 'nyc_barrios2', 'geom', 2, 26918, 'MULTIPOLYGON'),
 ('nyc', 'public', 'nyc_calles', 'geom', 2, 26918, 'MULTILINESTRING'),
 ('nyc', 'public', 'nyc_estaciones_metro', 'geom', 2, 26918, 'POINT'),
 ('nyc', 'public', 'vw_estaciones_buffer', 'geom', 2, 0, 'GEOMETRY'),
 ('nyc', 'public', 'nyc_neighborhoods', 'geom', 2, 26918, 'MULTIPOLYGON'),
 ('nyc', 'public', 'nyc_census_blocks', 'geom', 2, 0, 'MULTIPOLYGON'),
 ('nyc', 'public', 'geometries', 'geom', 2, 0, 'GEOMETRY'),
 ('nyc', 'public', 'nyc_subway_stations', 'geom', 2, 26918, 'POINT')]

In [37]:
%%sql 

SELECT name, ST_GeometryType(geom), ST_NDims(geom), ST_SRID(geom)
  FROM geometries;

 * postgresql://postgres:***@localhost/nyc
5 rows affected.

[('Point', 'ST_Point', 2, 0),
 ('Linestring', 'ST_LineString', 2, 0),
 ('Polygon', 'ST_Polygon', 2, 0),
 ('PolygonWithHole', 'ST_Polygon', 2, 0),
 ('Collection', 'ST_GeometryCollection', 2, 0)]

## 4.4. Points


A spatial point represents a single location on the Earth. This point is represented by a single coordinate (including either 2-, 3- or 4-dimensions). Points are used to represent objects when the exact details, such as shape and size, are not important at the target scale. For example, cities on a map of the world can be described as points, while a map of a single state might represent cities as polygons.

In [31]:
%%sql

SELECT ST_AsText(geom)
  FROM geometries
  WHERE name = 'Point';

 * postgresql://postgres:***@localhost/nyc
1 rows affected.

[('POINT(0 0)',)]

Some of the specific spatial functions for working with points are:

- ST_X(geometry) returns the X cordinate

- ST_Y(geometry) returns the Y cordinate

So, we can read the ordinates from a point like this:

In [38]:
%%sql
-- if you want the coordinates in 2 col
SELECT ST_X(geom), ST_Y(geom)
  FROM geometries
  WHERE name = 'Point';

 * postgresql://postgres:***@localhost/nyc
1 rows affected.

[(0.0, 0.0)]

In [42]:
%%sql

SELECT *, ST_AsText(geom), ST_X(geom), ST_Y(geom)
  FROM nyc_subway_stations
  LIMIT 3;

 * postgresql://postgres:***@localhost/nyc
3 rows affected.

[(Decimal('376'), '010100002026690000371775B5C3CE2141CBD2347771315141', Decimal('1'), 'Cortlandt St', None, 'Church St', 'Cortlandt St (R,W) Manhattan', 'Cortlandt St (R,W)', 'Manhattan', None, 'R,W', 'R,W', 'YELLOW', None, None, 'POINT(583521.854408956 4507077.862599085)', 583521.854408956, 4507077.862599085),
 (Decimal('2'), '010100002026690000CBE327F938CD21415EDBE1572D315141', Decimal('2'), 'Rector St', None, None, 'Rector St (1) Manhattan', 'Rector St (1)', 'Manhattan', None, '1', '1', 'RED', None, None, 'POINT(583324.4866324601 4506805.373160211)', 583324.4866324601, 4506805.373160211),
 (Decimal('1'), '010100002026690000C676635D10CD2141A0ECDB6975305141', Decimal('3'), 'South Ferry', None, None, 'South Ferry (1) Manhattan', 'South Ferry (1)', 'Manhattan', None, '1', '1', 'RED', None, None, 'POINT(583304.1823994748 4506069.654048115)', 583304.1823994748, 4506069.654048115)]

## 4.5. Linestrings

A linestring is a path between locations. It takes the form of an ordered series of two or more points. Roads and rivers are typically represented as linestrings. A linestring is said to be closed if it starts and ends on the same point. It is said to be simple if it does not cross or touch itself (except at its endpoints if it is closed). A linestring can be both closed and simple.

The street network for New York (nyc_streets) was loaded earlier in the workshop. This dataset contains details such as name, and type. A single real world street may consist of many linestrings, each representing a segment of road with different attributes.

The following SQL query will return the geometry associated with one linestring (in the ST_AsText column).

In [18]:
%%sql

SELECT ST_AsText(geom)
  FROM geometries
  WHERE name = 'Linestring';

 * postgresql://postgres:***@localhost/nyc
1 rows affected.

[('LINESTRING(0 0,1 1,2 1,2 2)',)]

Some of the specific spatial functions for working with linestrings are:

- **ST_Length(geometry)** returns the length of the linestring

- **ST_StartPoint(geometry)** returns the first coordinate as a point

- **ST_EndPoint(geometry)** returns the last coordinate as a point

- **ST_NPoints(geometry)** returns the number of coordinates in the linestring

So, the length of our linestring is:

In [44]:
%%sql 

SELECT ST_Length(geom) AS lenght, ST_NPoints(geom) 
  FROM geometries
  WHERE name = 'Linestring';

 * postgresql://postgres:***@localhost/nyc
1 rows affected.

[(3.414213562373095, 4)]

## 4.6. Polygons

A polygon is a representation of an area. The outer boundary of the polygon is represented by a ring. This ring is a linestring that is both closed and simple as defined above. Holes within the polygon are also represented by rings.

The following SQL query will return the geometry associated with one polygon (in the ST_AsText column).

In [21]:
%%sql

SELECT ST_AsText(geom)
  FROM geometries
  WHERE name LIKE 'Polyg%';

 * postgresql://postgres:***@localhost/nyc
2 rows affected.

[('POLYGON((0 0,1 0,1 1,0 1,0 0))',),
 ('POLYGON((0 0,10 0,10 10,0 10,0 0),(1 1,1 2,2 2,2 1,1 1))',)]

Some of the specific spatial functions for working with polygons are:

- **ST_Area(geometry)** returns the area of the polygons

- **ST_NRings(geometry)** returns the number of rings (usually 1, more of there are holes)

- **ST_ExteriorRing(geometry)** returns the outer ring as a linestring

- **ST_InteriorRingN(geometry,n)** returns a specified interior ring as a linestring

- **ST_Perimeter(geometry)** returns the length of all the rings

We can calculate the area of our polygons using the area function:

In [47]:
%%sql

SELECT name, ST_Area(geom) as area_en_m2
  FROM geometries
  WHERE name LIKE 'Polygon%';

 * postgresql://postgres:***@localhost/nyc
2 rows affected.

[('Polygon', 1.0), ('PolygonWithHole', 99.0)]

## 4.7. Collections¶
There are four collection types, which group multiple simple geometries into sets.

- **MultiPoint,** a collection of points

- **MultiLineString**, a collection of linestrings

- **MultiPolygon**, a collection of polygons

- **GeometryCollection**, a heterogeneous collection of any geometry (including other collections)

Collections are another concept that shows up in GIS software more than in generic graphics software. They are useful for directly modeling real world objects as spatial objects. For example, how to model a lot that is split by a right-of-way? As a MultiPolygon, with a part on either side of the right-of-way.

Our example collection contains a polygon and a point:

In [48]:
%%sql

SELECT name, ST_AsText(geom)
  FROM geometries
  WHERE name = 'Collection';

 * postgresql://postgres:***@localhost/nyc
1 rows affected.

[('Collection', 'GEOMETRYCOLLECTION(POINT(2 0),POLYGON((0 0,1 0,1 1,0 1,0 0)))')]

Some of the specific spatial functions for working with collections are:

- ST_NumGeometries(geometry) returns the number of parts in the collection

- ST_GeometryN(geometry,n) returns the specified part

- ST_Area(geometry) returns the total area of all polygonal parts

- ST_Length(geometry) returns the total length of all linear parts

## 4.8. Geometry Input and Output
Within the database, geometries are stored on disk in a format only used by the PostGIS program. In order for external programs to insert and retrieve useful geometries, they need to be converted into a format that other applications can understand. Fortunately, PostGIS supports emitting and consuming geometries in a large number of formats:

- Well-known text (WKT)

    - ST_GeomFromText(text, srid) returns geometry

    - ST_AsText(geometry) returns text

     - ST_AsEWKT(geometry) returns text

- Well-known binary (WKB)

    - ST_GeomFromWKB(bytea) returns geometry

    - ST_AsBinary(geometry) returns bytea

    - ST_AsEWKB(geometry) returns bytea

- Geographic Mark-up Language (GML)

    - ST_GeomFromGML(text) returns geometry

    - ST_AsGML(geometry) returns text

- Keyhole Mark-up Language (KML)

     - ST_GeomFromKML(text) returns geometry

     - ST_AsKML(geometry) returns text

- GeoJSON

     - ST_AsGeoJSON(geometry) returns text

- Scalable Vector Graphics (SVG)

     - ST_AsSVG(geometry) returns text

In addition to the ST_GeometryFromText function, there are many other ways to create geometries from well-known text or similar formatted inputs:

In [65]:
%%sql

-- Using ST_GeomFromText with the SRID parameter
SELECT ST_GeomFromText('POINT(2 2)',4326);

 * postgresql://postgres:***@localhost/nyc
1 rows affected.

[('0101000020E610000000000000000000400000000000000040',)]

In [62]:
%%sql
-- Using a ST_Make* function
SELECT ST_SetSRID(ST_MakePoint(2, 2), 4326);

 * postgresql://postgres:***@localhost/nyc
1 rows affected.

[('0101000020E610000000000000000000400000000000000040',)]

In [63]:
%%sql
-- Using PostgreSQL casting syntax and ISO WKT
SELECT ST_SetSRID('POINT(2 2)'::geometry, 4326);

 * postgresql://postgres:***@localhost/nyc
1 rows affected.

[('0101000020E610000000000000000000400000000000000040',)]

In [64]:
%%sql
-- Using PostgreSQL casting syntax and extended WKT
SELECT 'SRID=4326;POINT(2 2)'::geometry;

 * postgresql://postgres:***@localhost/nyc
1 rows affected.

[('0101000020E610000000000000000000400000000000000040',)]

In [50]:
%%sql
-- Using ST_GeomFromText without the SRID parameter
SELECT ST_SetSRID(ST_GeomFromText('POINT(2 2)'),4326);

 * postgresql://postgres:***@localhost/nyc
1 rows affected.

[('0101000020E610000000000000000000400000000000000040',)]

In [57]:
%%sql
-- Using PostgreSQL casting syntax and ISO WKT
SELECT ST_SetSRID('POINT(2 2)'::geometry, 4326);

 * postgresql://postgres:***@localhost/nyc
1 rows affected.

[('0101000020E610000000000000000000400000000000000040',)]

In [58]:
%%sql
SELECT ST_AsGeoJSON('POINT(2 2)'::geometry, 4326)

 * postgresql://postgres:***@localhost/nyc
1 rows affected.

[('{"type":"Point","coordinates":[2,2]}',)]

In [67]:
%%sql
SELECT ST_AsGeoJSON('SRID=4326;POINT(2 2)'::geometry)

 * postgresql://postgres:***@localhost/nyc
1 rows affected.

[('{"type":"Point","coordinates":[2,2]}',)]

## 4.9. Casting from Text¶
The WKT strings we’ve see so far have been of type ‘text’ and we have been converting them to type ‘geometry’ using PostGIS functions like ST_GeomFromText().

PostgreSQL includes a short form syntax that allows data to be converted from one type to another, the casting syntax, oldata::newtype. So for example, this SQL converts a double into a text string.

In [66]:
%%sql

SELECT 0.9::text AS textform;

 * postgresql://postgres:***@localhost/nyc
1 rows affected.

[('0.9',)]

Less trivially, this SQL converts a WKT string into a geometry:

In [60]:
%%sql

SELECT 'POINT(0 0)'::geometry;

 * postgresql://postgres:***@localhost/nyc
1 rows affected.

[('010100000000000000000000000000000000000000',)]

One thing to note about using casting to create geometries: unless you specify the SRID, you will get a geometry with an unknown SRID. You can specify the SRID using the “extended” well-known text form, which includes an SRID block at the front:

In [61]:
%%sql

SELECT 'SRID=4326;POINT(0 0)'::geometry;

 * postgresql://postgres:***@localhost/nyc
1 rows affected.

[('0101000020E610000000000000000000000000000000000000',)]

## 4.10. Function List
ST_Area: Returns the area of the surface if it is a polygon or multi-polygon. For “geometry” type area is in SRID units. For “geography” area is in square meters.

ST_AsText: Returns the Well-Known Text (WKT) representation of the geometry/geography without SRID metadata.

ST_AsBinary: Returns the Well-Known Binary (WKB) representation of the geometry/geography without SRID meta data.

ST_EndPoint: Returns the last point of a LINESTRING geometry as a POINT.

ST_AsEWKB: Returns the Well-Known Binary (WKB) representation of the geometry with SRID meta data.

ST_AsEWKT: Returns the Well-Known Text (WKT) representation of the geometry with SRID meta data.

ST_AsGeoJSON: Returns the geometry as a GeoJSON element.

ST_AsGML: Returns the geometry as a GML version 2 or 3 element.

ST_AsKML: Returns the geometry as a KML element. Several variants. Default version=2, default precision=15.

ST_AsSVG: Returns a Geometry in SVG path data given a geometry or geography object.

ST_ExteriorRing: Returns a line string representing the exterior ring of the POLYGON geometry. Return NULL if the geometry is not a polygon. Will not work with MULTIPOLYGON

ST_GeometryN: Returns the 1-based Nth geometry if the geometry is a GEOMETRYCOLLECTION, MULTIPOINT, MULTILINESTRING, MULTICURVE or MULTIPOLYGON. Otherwise, return NULL.

ST_GeomFromGML: Takes as input GML representation of geometry and outputs a PostGIS geometry object.

ST_GeomFromKML: Takes as input KML representation of geometry and outputs a PostGIS geometry object

ST_GeomFromText: Returns a specified ST_Geometry value from Well-Known Text representation (WKT).

ST_GeomFromWKB: Creates a geometry instance from a Well-Known Binary geometry representation (WKB) and optional SRID.

ST_GeometryType: Returns the geometry type of the ST_Geometry value.

ST_InteriorRingN: Returns the Nth interior linestring ring of the polygon geometry. Return NULL if the geometry is not a polygon or the given N is out of range.

ST_Length: Returns the 2d length of the geometry if it is a linestring or multilinestring. geometry are in units of spatial reference and geogra