## 6. Projecting Data

## 6.1. Connecting to the database

In [1]:
%load_ext sql
import os

In [2]:
# connection_string = f"postgresql://{user}:{password}@{host}/{database}"
connection_string = f"postgresql://postgres:celdoni@localhost/nyc"

In [3]:
%sql $connection_string

'Connected: postgres@nyc'

In [4]:
%%sql 

SELECT * from nyc_subway_stations LIMIT 5

 * postgresql://postgres:***@localhost/nyc
5 rows affected.

[(Decimal('376'), '010100002026690000371775B5C3CE2141CBD2347771315141', Decimal('1'), 'Cortlandt St', None, 'Church St', 'Cortlandt St (R,W) Manhattan', 'Cortlandt St (R,W)', 'Manhattan', None, 'R,W', 'R,W', 'YELLOW', None, None),
 (Decimal('2'), '010100002026690000CBE327F938CD21415EDBE1572D315141', Decimal('2'), 'Rector St', None, None, 'Rector St (1) Manhattan', 'Rector St (1)', 'Manhattan', None, '1', '1', 'RED', None, None),
 (Decimal('1'), '010100002026690000C676635D10CD2141A0ECDB6975305141', Decimal('3'), 'South Ferry', None, None, 'South Ferry (1) Manhattan', 'South Ferry (1)', 'Manhattan', None, '1', '1', 'RED', None, None),
 (Decimal('125'), '010100002026690000F4CF3E3654032241B5704681A73C5141', Decimal('4'), '138th St', 'Grand Concourse', 'Grand Concourse', '138th St / Grand Concourse (4,5) Bronx', '138th St / Grand Concourse (4,5)', 'Bronx', None, '4,5', '4,5', 'GREEN', None, None),
 (Decimal('126'), '01010000202669000084DADF7AED0422410C380E6E3A3D5141', Decimal('5'), '149th St', 'Grand Concourse', 'Grand Concourse', '149th St / Grand Concourse (4) Bronx', '149th St / Grand Concourse (4)', 'Bronx', None, '4', '2,4,5', 'GREEN', 'express', None)]

## 6.2. Checking SRID
The earth is not flat, and there is no simple way of putting it down on a flat paper map (or computer screen), so people have come up with all sorts of ingenious solutions, each with pros and cons. Some projections preserve area, so all objects have a relative size to each other; other projections preserve angles (conformal) like the Mercator projection; some projections try to find a good intermediate mix with only little distortion on several parameters. Common to all projections is that they transform the (spherical) world onto a flat Cartesian coordinate system, and which projection to choose depends on how you will be using the data.

We’ve already encountered projections when we loaded our nyc data. (Recall that pesky SRID 26918). Sometimes, however, you need to transform and re-project between spatial reference systems. PostGIS includes built-in support for changing the projection of data, using the ST_Transform(geometry, srid) function. For managing the spatial reference identifiers on geometries, PostGIS provides the ST_SRID(geometry) and ST_SetSRID(geometry, srid) functions.

We can confirm the SRID of our data with the ST_SRID function:

In [29]:
%%sql

SELECT ST_SRID(geom) FROM nyc_streets LIMIT 3;

 * postgresql://postgres:***@localhost/nyc
3 rows affected.

[(26918,), (26918,), (26918,)]

And what is definition of “26918”? As we saw in loading data section, the definition is contained in the spatial_ref_sys table. In fact, two definitions are there. The “well-known text” (WKT) definition is in the srtext column, and there is a second definition in “proj.4” format in the proj4text column.

In fact, for the internal PostGIS re-projection calculations, it is the contents of the proj4text column that are used. For our 26918 projection, here is the **proj.4 text:**

In [6]:
%%sql

SELECT proj4text FROM spatial_ref_sys WHERE srid = 26918

 * postgresql://postgres:***@localhost/nyc
1 rows affected.

[('+proj=utm +zone=18 +datum=NAD83 +units=m +no_defs ',)]

In practice, both the srtext and the proj4text columns are important: the srtext column is used by external programs like GeoServer, QGIS, and FME and others; the proj4text column is used internally.

## 6.3. Comparing Data
Taken together, a coordinate and an SRID define a location on the globe. Without an SRID, a coordinate is just an abstract notion. A “Cartesian” coordinate plane is defined as a “flat” coordinate system placed on the surface of Earth. Because PostGIS functions work on such a plane, comparison operations require that both geometries be represented in the same SRID.

If you feed in geometries with differing SRIDs you will just get an error:

In [7]:
# %%sql

# SELECT ST_Equals(
#          ST_GeomFromText('POINT(0 0)', 4326),
#          ST_GeomFromText('POINT(0 0)', 26918)
#          )

Be careful of getting too happy with using ST_Transform for on-the-fly conversion. Spatial indexes are built using SRID of the stored geometries. If comparison are done in a different SRID, spatial indexes are (often) not used. It is best practice to choose one SRID for all the tables in your database. Only use the transformation function when you are reading or writing data to external applications.

## 6.4. Transforming Data
If we return to our proj4 definition for SRID 26918, we can see that our working projection is UTM (Universal Transverse Mercator) of zone 18, with meters as the unit of measurement.

+proj=utm +zone=18 +ellps=GRS80 +datum=NAD83 +units=m +no_defs

Let’s convert some data from our working projection to geographic coordinates – also known as “longitude/latitude”.

To convert data from one SRID to another, you must first verify that your geometry has a valid SRID. Since we have already confirmed a valid SRID, we next need the SRID of the projection to transform into. In other words, what is the SRID of geographic coordinates?

The most common SRID for geographic coordinates is 4326, which corresponds to “longitude/latitude on the WGS84 spheroid”. You can see the definition at the spatialreference.org site:

http://spatialreference.org/ref/epsg/4326/

You can also pull the definitions from the spatial_ref_sys table:

In [8]:
%%sql

SELECT srtext FROM spatial_ref_sys WHERE srid = 4326;

 * postgresql://postgres:***@localhost/nyc
1 rows affected.

[('GEOGCS["WGS 84",DATUM["WGS_1984",SPHEROID["WGS 84",6378137,298.257223563,AUTHORITY["EPSG","7030"]],AUTHORITY["EPSG","6326"]],PRIMEM["Greenwich",0,AUTHORITY["EPSG","8901"]],UNIT["degree",0.0174532925199433,AUTHORITY["EPSG","9122"]],AUTHORITY["EPSG","4326"]]',)]

#### Let’s convert the coordinates of the ‘Broad St’ subway station into geographics:

In [9]:
%%sql

SELECT ST_AsText(geom)
FROM nyc_subway_stations 
WHERE name = 'Broad St';

 * postgresql://postgres:***@localhost/nyc
1 rows affected.

[('POINT(583571.9059213118 4506714.341192182)',)]

#### Transform coordinates

In [10]:
%%sql

SELECT ST_AsText(ST_Transform(geom,4326)) 
FROM nyc_subway_stations 
WHERE name = 'Broad St';

 * postgresql://postgres:***@localhost/nyc
1 rows affected.

[('POINT(-74.01067146887341 40.70710481558761)',)]

If you load data or create a new geometry without specifying an SRID, the SRID value will be 0. Recall in geometries, that when we created our geometries table we didn’t specify an SRID. If we query our database, we should expect all the nyc_ tables to have an SRID of 26918, while the geometries table defaulted to an SRID of 0.

To view a table’s SRID assignment, query the database’s geometry_columns table.

In [18]:
%%sql

SELECT f_table_name AS name, srid 
FROM geometry_columns;

 * postgresql://postgres:***@localhost/nyc
10 rows affected.

[('nyc_bloque_censal', 26918),
 ('nyc_barrios2', 26918),
 ('nyc_calles', 26918),
 ('nyc_estaciones_metro', 26918),
 ('vw_estaciones_buffer', 0),
 ('nyc_neighborhoods', 26918),
 ('nyc_census_blocks', 0),
 ('geometries', 0),
 ('nyc_subway_stations', 26918),
 ('nyc_streets', 26918)]

In [20]:
%%sql

SELECT * FROM  nyc_census_blocks LIMIT 5

 * postgresql://postgres:***@localhost/nyc
5 rows affected.

[(1, '0106000000010000000103000000010000000A00000051AC161881A22141A31409CF1F2A51415F4321458DA2214100102A3F1D2A51418C34807C0BA221414E3E89F5122A5141782D60549 ... (66 characters truncated) ... 02141A00099C72F2A51412365B4789AA021419F60A7BB342A514160E3E8FA66A0214118B4C0CE402A5141EA4BF3EEC7A12141A3023D61452A514151AC161881A22141A31409CF1F2A5141', '360850009001000', 97, 51, 32, 1, 5, 8, 'Staten Island'),
 (2, '01060000000100000001030000000100000007000000083B4A6F79A8214127EC57B49926514151B51BB7CEA72141B2EAD6F38A2651416F429640B9A72141449FCB1C89265141163AA64D56A72141B89E2B7C9B26514150509213EDA72141DCC9A351A826514184FA4C6017A82141B9AE24F0AB265141083B4A6F79A8214127EC57B499265141', '360850020011000', 66, 52, 2, 0, 7, 5, 'Staten Island'),
 (3, '0106000000010000000103000000010000000600000082DCED72969D2141563247C49E2651417C120440079D214123319BFC8626514179D4895B6A9C2141F3667FC995265141C0428AC2C29C214159EB5C75AC265141CB126202D69C214180215728B126514182DCED72969D2141563247C49E265141', '360850040001000', 62, 14, 18, 2, 25, 3, 'Staten Island'),
 (4, '0106000000010000000103000000010000000A00000011D0FF10BAAB214148AB447115255141D84AD20770AB2141C44C41391025514152AB93F640AB2141CF2EFFF00C255141D45B829AB ... (66 characters truncated) ... B2141B7C53BFA382551415617924F8CAB214143EA493530255141FC47FF069EAB21410104265A27255141B7157D49ADAB2141E7B3C86C1E25514111D0FF10BAAB214148AB447115255141', '360850074001000', 137, 92, 12, 0, 13, 20, 'Staten Island'),
 (5, '01060000000100000001030000000100000014000000EAEB0DF7E8A021416CA558C39F255141EDFB23D423A1214191F7B093942551418CC9031E71A12141B960AFBD83255141DC186CA87 ... (386 characters truncated) ... F2141D0D7CC818A255141C8BC496100A0214180776A118E255141DDFB3FACD19F2141A7D8F6F99E255141364BE7A47EA02141C207988BA0255141EAEB0DF7E8A021416CA558C39F255141', '360850096011000', 289, 230, 0, 0, 32, 27, 'Staten Island')]

In [26]:
%%sql
-- set srid
SELECT UpdateGeometrySRID('nyc_census_blocks','geom',26918);

 * postgresql://postgres:***@localhost/nyc
1 rows affected.

[('public.nyc_census_blocks.geom SRID changed to 26918',)]

In [28]:
%%sql
-- census have changed
SELECT f_table_name AS name, srid 
FROM geometry_columns;

 * postgresql://postgres:***@localhost/nyc
10 rows affected.

[('nyc_bloque_censal', 26918),
 ('nyc_barrios2', 26918),
 ('nyc_calles', 26918),
 ('nyc_estaciones_metro', 26918),
 ('vw_estaciones_buffer', 0),
 ('nyc_neighborhoods', 26918),
 ('geometries', 0),
 ('nyc_subway_stations', 26918),
 ('nyc_streets', 26918),
 ('nyc_census_blocks', 26918)]

However, if you know what the SRID of the coordinates is supposed to be, you can set it post-facto, using ST_SetSRID on the geometry. Then you will be able to transform the geometry into other systems.

In [36]:
%%sql

SELECT ST_AsText(
 ST_Transform(
   ST_SetSRID(geom,26918),
 4326)
)
FROM geometries;

 * postgresql://postgres:***@localhost/nyc
5 rows affected.

[('POINT(-79.48874388438705 0)',),
 ('LINESTRING(-79.48874388438705 0,-79.48873492539037 0.000009019375921,-79.48872596639353 0.000009019376033,-79.48872596639369 0.000018038752065)',),
 ('POLYGON((-79.48874388438705 0,-79.4887349253903 0,-79.48873492539037 0.000009019375921,-79.4887438843871 0.00000901937581,-79.48874388438705 0))',),
 ('POLYGON((-79.48874388438705 0,-79.48865429441472 0,-79.48865429442024 0.000090193769243,-79.48874388439259 0.000090193758097,-79.48874388438705 0),(- ... (36 characters truncated) ... -79.48873492539053 0.000018038751842,-79.48872596639369 0.000018038752065,-79.48872596639353 0.000009019376033,-79.48873492539037 0.000009019375921))',),
 ('GEOMETRYCOLLECTION(POINT(-79.48872596639346 0),POLYGON((-79.48874388438705 0,-79.4887349253903 0,-79.48873492539037 0.000009019375921,-79.4887438843871 0.00000901937581,-79.48874388438705 0)))',)]

## 6.5. Function List
ST_AsText: Returns the Well-Known Text (WKT) representation of the geometry/geography without SRID metadata.

ST_SetSRID(geometry, srid): Sets the SRID on a geometry to a particular integer value.

ST_SRID(geometry): Returns the spatial reference identifier for the ST_Geometry as defined in spatial_ref_sys table.

ST_Transform(geometry, srid): Returns a new geometry with its coordinates transformed to the SRID referenced by the integer parameter.