## 3. Introduction to PostGIS

## 3.1. Connecting to the database

In [1]:
%load_ext sql

In [2]:
import os

In [19]:
# connection_string = f"postgresql://{user}:{password}@{host}/{database}"
connection_string = f"postgresql://postgres:celdoni@localhost/nyc"

In [8]:
%sql $connection_string

'Connected: postgres@nyc'

In [26]:
%%sql 

SELECT * FROM nyc_neighborhoods WHERE FALSE # a easy way to see the name of the columns

 * postgresql://postgres:***@localhost/nyc
   postgresql://postgres:***@localhost/sdb
(psycopg2.errors.SyntaxError) syntax error at or near "easy"
LINE 1: SELECT * FROM nyc_neighborhoods WHERE FALSE # a easy way to ...
                                                        ^

[SQL: SELECT * FROM nyc_neighborhoods WHERE FALSE # a easy way to see the name of the columns]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [27]:
%%sql 

SELECT geom, boroname, name from nyc_neighborhoods LIMIT 10

 * postgresql://postgres:***@localhost/nyc
   postgresql://postgres:***@localhost/sdb
10 rows affected.

[('010600002026690000010000000103000000010000001100000045F2F7D9E6C82141BFF459DBCF25514181B1B59696D72141360D1F6921285141FA39BF8F9CDD2141FA8E3EB88C2751417 ... (298 characters truncated) ... B2141DD94A694AE25514158F4672CE7CA2141F7BDC5A1AE2551418327DF811CCA2141727F0F25BC255141574BEF70F1C921417731701CD125514145F2F7D9E6C82141BFF459DBCF255141', 'Brooklyn', 'Bensonhurst'),
 ('0106000020266900000100000001030000000100000008000000E94FC98149DE214196EF19D1FE3351414271D0B694E821416A36040C4E33514144C142A7CDE721410BCEE0D1A63251412 ... (10 characters truncated) ... 72141C6594A6E713251414DA687822AE621415F9731007932514177DB296DE4DA2141B7FDD828003351412DB80BB38EDB2141C844CE8054335141E94FC98149DE214196EF19D1FE335141', 'Manhattan', 'East Village'),
 ('01060000202669000001000000010300000001000000340000009E65298EBECC2141EAC610A88E33514118D5CAA3D9CC2141591FD4B4B0335141B3C121F163CE21415F252CFAAB3351410 ... (1418 characters truncated) ... 421410193E83A433451417213F557ADD421416B79FD152E345141CABB0527A2D22141B0B6B1B09433514101DE574090D22141B958F7927A3351419E65298EBECC2141EAC610A88E335141', 'Manhattan', 'West Village'),
 ('0106000020266900000100000001030000000100000057000000E6AAA404103D22417B79132E543E514129FCD67D1F3D2241F2AEB974AA3E5141DDF2B6EC5A3E2241216E7AFDDC3E51411 ... (2538 characters truncated) ... E22413041D1412A3D5141EC6CA05B2D3F2241603C212E7D3D51410ACD9D21443F22417689EE69AF3D51412091E342AE3D2241710991A0253E5141E6AAA404103D22417B79132E543E5141', 'The Bronx', 'Throggs Neck'),
 ('0106000020266900000100000001030000000100000066000000A68E2269AA2A2241F4CB18B3DC4351418EB02917292B22415398B3B113445141E2A5E3FFAF2D2241D60631DD2A455141B ... (3018 characters truncated) ... 52241E9CA9A2542435141F85C6E731E3422411D5A9DE34D43514121A82B1D952B22412F7466B2B843514174B287A8F82A224117C397C4BE435141A68E2269AA2A2241F4CB18B3DC435141', 'The Bronx', 'Wakefield-Williamsbridge'),
 ('0106000020266900000100000001030000000100000019000000308396041A5722419764E0B6A0345141E7D5FE5254572241AC16C9C205355141806D7FA15658224166B9BC94BA3551418 ... (554 characters truncated) ... A2241C022B4262C355141179304766D672241C6F040A317355141C868151D16652241D615C731FB3451414E43844C9C5C2241B3F337F49F345141308396041A5722419764E0B6A0345141', 'Queens', 'Auburndale'),
 ('010600002026690000010000000103000000010000001F00000061FDB633E0CD2141403A17476F325141AE26601878CD2141A81546490432514104AD1CE5B9CC21413F9E327D8B3151414 ... (746 characters truncated) ... C2141ABF155F1D8315141084B0EED8ACA214181F8509EC1315141CB83EDB28CCB21411FE789AB6F32514108D5C3A09FCD21411129F2516F32514161FDB633E0CD2141403A17476F325141', 'Manhattan', 'Battery Park'),
 ('010600002026690000010000000103000000010000000600000012B6B16AAAF5214104BC4F78B13951413C6E1F0FBAF22141F2E643B1FD385141EDB6EBEC6DEF214151026A2C3A3951417438A35F0DF121412A51F3A3983951414922DA6876F221417E3483BEEA39514112B6B16AAAF5214104BC4F78B1395141', 'Manhattan', 'Carnegie Hill'),
 ('010600002026690000010000000103000000010000001B0000002A325637786721412BBA02CAA1275141788D39AC33682141BC4D42DBD2275141C9CC8726DC682141544CAEC84B285141F ... (618 characters truncated) ... C2141F05C18A52626514121BB83E819682141D252DA3B02265141BD7F7C2E4E672141C0B44069EB255141634999D1A96521410D75BF68E72551412A325637786721412BBA02CAA1275141', 'Staten Island', 'Mariners Harbor'),
 ('01060000202669000001000000010300000001000000460000002F67DFE9713B2141779B4C9B232051413EA002EA463C21411C445CF73120514179060F7E5F3C21415EC3F1BF322051417 ... (1994 characters truncated) ... E21416D54D4FA091F5141FC989611CC47214179B5B597EE1E5141469312ED97432141D709E992E31E5141ED68B8668B3F2141BA8616FC3E1F51412F67DFE9713B2141779B4C9B23205141', 'Staten Island', 'Rossville')]

## 3.2. Simple SQL

In [13]:
%%sql

SELECT postgis_full_version() # version postgis

 * postgresql://postgres:***@localhost/nyc
   postgresql://postgres:***@localhost/sdb
1 rows affected.

[('POSTGIS="3.1.2 3.1.2" [EXTENSION] PGSQL="130" GEOS="3.9.1-CAPI-1.14.1" PROJ="7.1.1" LIBXML="2.9.9" LIBJSON="0.12" LIBPROTOBUF="1.2.1" WAGYU="0.5.0 (Internal)"',)]

## 3.2.1. NYC Neighborhoods

What are the names of all the neighborhoods in New York City?

In [14]:
%%sql

SELECT name FROM nyc_neighborhoods

 * postgresql://postgres:***@localhost/nyc
   postgresql://postgres:***@localhost/sdb
129 rows affected.

[('Bensonhurst',),
 ('East Village',),
 ('West Village',),
 ('Throggs Neck',),
 ('Wakefield-Williamsbridge',),
 ('Auburndale',),
 ('Battery Park',),
 ('Carnegie Hill',),
 ('Mariners Harbor',),
 ('Rossville',),
 ('Harlem',),
 ('Gramercy',),
 ('Queens Village',),
 ('Middle Village',),
 ('Ettingville',),
 ('Morris Park',),
 ('Baychester',),
 ('Great Kills',),
 ('New Brighton',),
 ('Fordham',),
 ('Nkew Gardens',),
 ('Soho',),
 ('Spuyten Duyvil',),
 ('Woodside',),
 ('Bay Ridge',),
 ('Mott Haven',),
 ('Rosedale',),
 ('Boerum Hill',),
 ('Cobble Hill',),
 ('Morningside Heights',),
 ('Murray Hill',),
 ('Port Richmond',),
 ('Williams Bridge',),
 ('Downtown',),
 ('Woodrow',),
 ('Union Port',),
 ('Woodhaven-Richmond Hill',),
 ('Soundview',),
 ('Jamaica',),
 ('Laurelton',),
 ('Sunset Park',),
 ('Borough Park',),
 ('East Brooklyn',),
 ('Midland Beach',),
 ('Jackson Heights',),
 ('Maspeth',),
 ('Flatbush',),
 ('Central Park',),
 ('Charlestown-Richmond Valley',),
 ('Glendale',),
 ('Morris Heights',),
 ('Kings Bridge',),
 ('Country Club',),
 ('Park Slope',),
 ('Greenwich Village',),
 ('Midtown',),
 ('Bloomfield-Chelsea-Travis',),
 ('Richmondtown',),
 ('Bedford Park',),
 ('Williamsburg',),
 ('Flushing',),
 ('Canarsie',),
 ('Greenwood',),
 ('Annandale',),
 ('City Island',),
 ('Saintalbans',),
 ('University Heights',),
 ('Gravesend-Sheepshead Bay',),
 ('Tribeca',),
 ('North Sutton Area',),
 ('Queensboro Hill',),
 ('Springfield Gardens',),
 ('Dyker Heights',),
 ('Upper East Side',),
 ('Financial District',),
 ('Inwood',),
 ('Sunny Side',),
 ('Lower East Side',),
 ('Chelsea',),
 ('Oakwood',),
 ('South Beach',),
 ('Tottensville',),
 ('Hunts Point',),
 ('Ridgewood',),
 ('Forest Hills',),
 ('Clearview',),
 ('Brownsville',),
 ('Bushwick',),
 ('Washington Heights',),
 ('Upper West Side',),
 ('The Rockaways',),
 ('Howland Hook',),
 ('Ardon Heights',),
 ('Fort Green',),
 ('Clinton',),
 ("Prince's Bay",),
 ('Fresh Kills',),
 ('High Bridge',),
 ('Eastchester',),
 ('Riverdale',),
 ('Woodlawn-Nordwood',),
 ('Huguenot',),
 ('Clifton',),
 ('Bayside',),
 ('Howard Beach',),
 ('Tremont',),
 ('Utopia',),
 ('Garment District',),
 ('East Harlem',),
 ('Todt Hill',),
 ('Parkchester',),
 ('South Bronx',),
 ('Westerleigh-Castleton',),
 ('College Point',),
 ('Mapleton-Flatlands',),
 ('Little Italy',),
 ('Bedford-Stuyvesant',),
 ('Hamilton Heights',),
 ('Carroll Gardens',),
 ('Astoria-Long Island City',),
 ('Yorkville',),
 ('Chinatown',),
 ('Coney Island',),
 ('Corona',),
 ('Red Hook',),
 ('Douglastown-Little Neck',),
 ('Whitestone',),
 ('Steinway',),
 ('Rosebank',)]

What is the number of letters in the names of all the neighborhoods in Brooklyn?

In [15]:
%%sql

SELECT char_length(name)
FROM nyc_neighborhoods
WHERE boroname = 'Brooklyn'

 * postgresql://postgres:***@localhost/nyc
   postgresql://postgres:***@localhost/sdb
23 rows affected.

[(11,),
 (9,),
 (11,),
 (11,),
 (8,),
 (11,),
 (12,),
 (13,),
 (8,),
 (10,),
 (12,),
 (8,),
 (9,),
 (24,),
 (13,),
 (11,),
 (8,),
 (10,),
 (18,),
 (18,),
 (15,),
 (12,),
 (8,)]

What is the average number of letters and standard deviation of number of letters in the names of all the neighborhoods in Brooklyn?

In [16]:
%%sql

SELECT avg(char_length(name)), stddev(char_length(name))
FROM nyc_neighborhoods
WHERE boroname = 'Brooklyn'

 * postgresql://postgres:***@localhost/nyc
   postgresql://postgres:***@localhost/sdb
1 rows affected.

[(Decimal('11.7391304347826087'), Decimal('3.9105613559407395'))]

What is the average number of letters in the names of all the neighborhoods in New York City, reported by borough?

In [17]:
%%sql

SELECT boroname, avg(char_length(name)), stddev(char_length(name))
FROM nyc_neighborhoods
GROUP BY boroname

 * postgresql://postgres:***@localhost/nyc
   postgresql://postgres:***@localhost/sdb
5 rows affected.

[('Queens', Decimal('11.6666666666666667'), Decimal('5.0057438272815975')),
 ('Brooklyn', Decimal('11.7391304347826087'), Decimal('3.9105613559407395')),
 ('Staten Island', Decimal('12.2916666666666667'), Decimal('5.2043390480959474')),
 ('The Bronx', Decimal('12.0416666666666667'), Decimal('3.6651017740975152')),
 ('Manhattan', Decimal('11.8214285714285714'), Decimal('4.3123729948325257'))]

## 3.2.2. NYC Census Blocks

In [20]:
%%sql

SELECT * FROM nyc_census_blocks WHERE FALSE

 * postgresql://postgres:***@localhost/nyc
   postgresql://postgres:***@localhost/sdb
0 rows affected.

[]

What is the population of the City of New York?

In [21]:
%%sql 

SELECT Sum(popn_total) AS population
FROM nyc_census_blocks

 * postgresql://postgres:***@localhost/nyc
   postgresql://postgres:***@localhost/sdb
1 rows affected.

[(Decimal('8175032'),)]

What is the population of the Bronx?

In [22]:
%%sql 

SELECT SUM(popn_total) AS population
FROM nyc_census_blocks
WHERE boroname = 'The Bronx'

 * postgresql://postgres:***@localhost/nyc
   postgresql://postgres:***@localhost/sdb
1 rows affected.

[(Decimal('1385108'),)]

What is the population of the City of New York?

In [23]:
%%sql 

SELECT Sum(popn_total) AS population
FROM nyc_census_blocks

 * postgresql://postgres:***@localhost/nyc
   postgresql://postgres:***@localhost/sdb
1 rows affected.

[(Decimal('8175032'),)]

What is the population of the Bronx?

In [24]:
%%sql 

SELECT SUM(popn_total) AS population
FROM nyc_census_blocks
WHERE boroname = 'The Bronx'

 * postgresql://postgres:***@localhost/nyc
   postgresql://postgres:***@localhost/sdb
1 rows affected.

[(Decimal('1385108'),)]

For each borough, what percentage of the population is white?

In [25]:
%%sql

SELECT
boroname,
100 * SUM(popn_white)/SUM(popn_total) AS white_pct
FROM nyc_census_blocks
GROUP BY boroname

 * postgresql://postgres:***@localhost/nyc
   postgresql://postgres:***@localhost/sdb
5 rows affected.

[('Queens', Decimal('39.7220773945910130')),
 ('Brooklyn', Decimal('42.8011737932686549')),
 ('The Bronx', Decimal('27.9037446899447552')),
 ('Manhattan', Decimal('57.4493039480462811')),
 ('Staten Island', Decimal('72.8942034860154033'))]