In [7]:
import folium
import geopandas
import pandas as pd
import json
import random
import requests
import os

# Choropleth Json and csv

In [17]:
world_births = f"C:/Users/34639/wa/jupyter/images/crude-birth-rate.csv"
births = pd.read_csv(world_births)

births.head(5)

,Entity,Code,Year,"Estimates, 1950 - 2020: Annually interpolated demographic indicators - Crude birth rate (births per 1,000 population)"
0,Afghanistan,AFG,1950,49.991
1,Afghanistan,AFG,1951,50.076
2,Afghanistan,AFG,1952,50.241
3,Afghanistan,AFG,1953,50.399
4,Afghanistan,AFG,1954,50.548

In [26]:
# Rename the column
births.columns = ['Entity', 'Class', 'Year', 'Bir']
births.head(5)

        Entity Class  Year   Birth
0  Afghanistan   AFG  1950  49.991
1  Afghanistan   AFG  1951  50.076
2  Afghanistan   AFG  1952  50.241
3  Afghanistan   AFG  1953  50.399
4  Afghanistan   AFG  1954  50.548

In [25]:
# Select 1950 data
births_1950 = births[births['Year'] == 1960]
births_1950.head(5)

          Entity Class  Year   Birth
10   Afghanistan   AFG  1960  51.279
81        Africa   NaN  1960  47.457
152      Albania   ALB  1960  40.924
223      Algeria   DZA  1960  49.656
294       Angola   AGO  1960  49.081

In [27]:
#legend
from branca.colormap import linear

colormap = linear.YlGn_09.scale(
    unemployment.Unemployment.min(), unemployment.Unemployment.max()
)

print(colormap(5.0))

colormap

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (<ipython-input-27-7d93bdf7997d>, line 5)