After completing this tutorial, you will be able to:

- **Create and convert JSON objects** using Python

## In this lesson, you will use the json and Pandas libraries to create and convert JSON objects.

### Python Dictionary to JSON
Using the Python json library, you can **convert a Python dictionary to a JSON string using the json.dumps()** function.

Begin by creating the Python dictionary that will be converted to JSON.

In [1]:
import json
import pandas as pd

In [2]:
# Create and populate the dictionary
dict = {}
dict["name"] = "Chaya"
dict["age"] = 12
dict["city"] = "Boulder"
dict["type"] = "Canine"

dict

{'name': 'Chaya', 'age': 12, 'city': 'Boulder', 'type': 'Canine'}

Notice below that the Python dictionary and the JSON string look very similiar, **but that the JSON string is enclosed with quotes ''**.

In [3]:
json_example = json.dumps(dict, ensure_ascii=False) #  convert a Python dictionary to a JSON string using the json.dumps()

json_example

'{"name": "Chaya", "age": 12, "city": "Boulder", "type": "Canine"}'

Recall that you use type() to check the object type, and notice that the **JSON is of type str**.

In [4]:
type(json_example)

str

### JSON to Python Dictionary
You can also manually define JSON by enclosing the JSON with quotes ''.

In [5]:
json_sample =  '{ "name":"Chaya", "age":12, "city":"Boulder", "type":"Canine" }'

type(json_sample)

str

Using the **json.loads() function, a JSON string can be converted to a dictionary.**

In [6]:
# Load JSON into dictionary
data_sample = json.loads(json_sample)  #json.loads() function, a JSON string can be converted to a dictionary.

data_sample

{'name': 'Chaya', 'age': 12, 'city': 'Boulder', 'type': 'Canine'}

You can check the type again to see that it has been converted to a Python dictionary.

In [8]:
type(data_sample)

dict

Recall that you can call any key of a Python dictionary and see the associated values.

In [9]:
data_sample["name"]

'Chaya'

In [10]:
data_sample["city"]

'Boulder'

## Python Dictionary to Pandas Dataframe
If desired, you can use the **from_dict()** function from Pandas to **read the dictionary into a Pandas Dataframe.**

In [11]:
df = pd.DataFrame.from_dict(data_sample, orient='index')
df

            0
name    Chaya
age        12
city  Boulder
type   Canine

## Pandas Dataframe to JSON
Conversely, you can also convert a Pandas Dataframe to JSON using the Pandas method **to_json().**

In [12]:
sample_json = df.to_json(orient='split')

type(sample_json)

str

In [13]:
sample_json

'{"columns":[0],"index":["name","age","city","type"],"data":[["Chaya"],[12],["Boulder"],["Canine"]]}'