Object-Oriented: Python is most often used in an object-oriented way, which allows data to be stored as objects that have unique characteristics and functionality.

#### Write Scripts That Can Run in the terminal
Alternatively, a more efficient approach to using the terminal with Python is to write Python scripts. These script files have a .py extension. You can then call the script at the terminal using:

$ # Execute a python script named myscript.py at the command line

$ python myscript.py

#### What are Variables in Python?
A variable in programming is used to store information that you want to re-use in your code. Examples of things that you may wish to save in your code include:

- numeric values
- filenames
- paths
- or even larger datasets such as a remote sensing image or a terrain model

In [1]:
# Try it out
my_variable = 5

my_variable

5

### About Data Types in Python
Python data types are important to understand when coding. Below you will learn more about the different types of variables that you can store including:

- Numbers (integers and floats)
- Strings (letters / characters and words)

#### Numeric Variables in Python
In Python, you can create variables to store numeric values such as integers (int) which represent whole numbers and floating point numbers which represent decimal values (float).

In [2]:
type(my_variable)

int

In [3]:
boulder_precip_float = 20.23

boulder_precip_float

20.23

##### Check Variable Type

In [4]:
type(boulder_precip_float)

float

#### How to Store Text Variables: Strings in Python
To create a variable containing a text string (str), you use quotation marks ("") around the value. For example:

variable_name = "text"

In [5]:
city_description = "Boulder, CO is the home of the University of Colorado, Boulder campus."

city_description

'Boulder, CO is the home of the University of Colorado, Boulder campus.'

In [6]:
# Run the code below - what does the float() function do? 
a = 75
b = float(a)
print(a, b)

75 75.0

In [8]:
a = 5
b = 3
c = a/b

In [10]:
type(c)

float

## Lists in Python

In [11]:
jan = 0.70

boulder_avg_precip = [1, jan, "January"]

boulder_avg_precip

[1, 0.7, 'January']

In [12]:
boulder_avg_precip[1]

0.7

In [13]:
months = ["January", "February", "March"]

months

['January', 'February', 'March']

In [14]:
type(months)

list

In [15]:
print("The length of the months list is:", len(months))

The length of the months list is: 3

#### Update Items in Python Lists

In [16]:
months[1] = "Feb"

months

['January', 'Feb', 'March']

#### Insert Items into Lists

In [22]:
# Month list missing the first value for January
months = ["February"]

# Check index value at 0
months[0]

'February'

In [23]:
# Modify list to add January at the beginning
months.insert(0, "January")

months

['January', 'February']

#### Append an Item to a Python List
To add an item to the **end of a list**, you can use the .append()

In [24]:
months.append("March")

months

['January', 'February', 'March']

####  Delete Items From a Python List

In [20]:
del months[2]

months

['January', 'February']

In [21]:
months.append("March")

months

['January', 'February', 'March']

#### Add Items to List
You can also add items to a list using the addition operation +.

For example, you can add items to the beginning of a list using the following syntax:

listname = [value] + listname

##### inici

In [26]:
additemslist = [-9999] + months

additemslist

[-9999, 'January', 'February', 'March']

#####  final

In [29]:
additemslist += ['xxx']

additemslist

[-9999, 'January', 'February', 'March', 'xxx']

#### Create a List of Lists

In [27]:
list_of_lists = [[1,2,3], [8,9,10]]
list_of_lists

[[1, 2, 3], [8, 9, 10]]

In [28]:
# The syntax for accessing the second item in the first sublist is as follows:
list_of_lists[0][1]

2

# 4. Basic Operators in Python

#### Arithmetic Operators In Python
In Python, there are many arithmetic operations that can be completed, including operators for:

- addition (+)
- subtraction (-)
- multiplication (*)
- division (/)
- exponents (**)

In [30]:
jan_precip = 0.70
inches_to_mm = 25.4

jan_precip *= inches_to_mm

jan_precip

17.779999999999998

In [31]:
months = ["January", "February"]

months

['January', 'February']

In [32]:
months += ["March", "April"]

months

['January', 'February', 'March', 'April']

#### Relational Operators in Python
- equal (==)
- not equal (!=)
- greater than (>)
- greater than or equal (>=)
- less than (<)
- less than or equal (<=)

In [35]:
3 < 4

True

In [36]:
3 == 3

True

In [37]:
3 != 4

True

In [38]:
is_greater = (3 > 2)

is_greater

True

In [40]:
#rainfall = 3

#if rainfall > 2:
    # Perform some calculation

#### Membership Operators in Python
A membership operator, such as **in**, will **check if one item contains another item**. This can be useful with strings, lists, or other data storage objects that you will learn about in later lessons, such as dataframes.

In [41]:
precip = "Precipitation"

# Are the characters `Precip` in the object called precip?
"Precip" in precip

True

In [42]:
temp_1 = [70, 68, 74]

68 in temp_1

True